body {
  margin: 0 auto;
  line-height: 1.71429;
  height: 100%;
  width: 100%;
  background-image: url(../twitter/1274215_10151969740622959_1703282748_o.jpg);
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-size: 1400px;
  background-position: center;
  

}

.header {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006dbf;
  margin: 0px;
  padding: 0px;
  color: white;
  height: 40px;
  font-size: 10px;
  font-weight: bold;
}

button {
  border-radius: 6px;
  color: white;
  background-color: blue;
  height: 40px;
  width: 80px;
  margin-top: 0px;
  margin-left: 80px;
  font-weight: bold;
}

button:disabled {
  background-color: gray;
}

#saudacao {
  background-color: rgb(236, 243, 245);
  width: 400px;
  height: 200px;
  padding: 10px;
  margin-left: 150px;
  margin-top: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

#fotoPerfil {
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 10px;
}

#textoPerfil {
  margin-left: 20px;
  margin-top: 30px;
  width: 350px;
}

#caixaTexto {
  margin-left: 80px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #006dbf;
  background-color: rgb(236, 243, 245);
  word-wrap: break-word;
}
#numero {
  margin-left: 430px;
  margin-bottom: 100px;
  color: white;
  font-weight: bold;
}
#hora,
#mensagemRetorno {
  margin: 0px;
  padding: 0px;
}

#msgRetornoTwiter {
  width: 800px;
  height: 100px;
  margin-left: 150px;
  margin-top: 50px;
  padding: 0px;
  word-wrap: break-word;
}
